# .travis.yml
language: java
os: linux
dist: jimmy

jdk:
  - temurin-21
  - temurin-22

branches:
  only:
    - master

cache:
  directories:
    - $HOME/.m2

stages:
  - build
  - test
  - deploy
    if tag IS present

install: mvn -B -ntp -q dependency:go-offline
script: mvn -B -ntp -q -DskipTests verify

jobs:
  include:
    - stage: build
      jdk: temurin-21
      script:
        - mvn -B -DskipTests clean package
      before_deploy:
        - ls -al target || true
    - stage: test
      jdk: temurin-21
      script:
        - mvn test
    - stage: deploy
      jdk: temurin-21
      script: skip
      deploy:
        provider: script
        script: bash jenkins/scripts/deliver.sh
        on:
          tags: true